# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# Build results
bin/
obj/
out/

# Visual Studio Code
.vscode/

# NPM / Node (si usas npm para algún paquete)
node_modules/

# Blazor / ASP.NET Core
wwwroot/lib/

# Publicaciones

*.publishsettings

# Paquetes NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# Logs
*.log

# Archivos temporales
*.tmp
*.temp

# Configuración local
appsettings.Development.json
launchSettings.json

# Residuos de Test
TestResults/

# Archivos generados
*.dotCover
*.coverage
*.coveragexml
*.opendb
*.pdb
*.cache
*.bak
*.swp

# OS específicos
.DS_Store
Thumbs.db
