@page "/"
@inject NetCoreBlazor_main_remake.Client.Services.AuthService AuthService
@inject NavigationManager Navigation
@using NetCoreBlazor_main_remake.Client.Models

<h2 style="text-align:center; margin-bottom:20px;">Iniciar sesión</h2>

@if (isLoading)
{
    <p style="text-align:center;">Cargando...</p>
}

<EditForm Model="@usuarioLogin" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />

    <div class="form-wrapper">
        <div class="form-container">
            <div>
                <input placeholder="Correo" @bind="usuarioLogin.Email" class="form-input"/>
                <ValidationMessage For="@(() => usuarioLogin.Email)" />
            </div>

            <div>
                <input placeholder="Contraseña" type="password" @bind="usuarioLogin.Password" class="form-input"/>
                <ValidationMessage For="@(() => usuarioLogin.Password)" />
            </div>

            <button type="submit" class="form-button">Aceptar</button>

            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <div class="modal">@errorMessage</div>
            }

            <p class="form-link">
                ¿No tienes cuenta? <a href="/register">Regístrate</a>
            </p>
        </div>
    </div>
</EditForm>

@code {
    private UsuarioLogin usuarioLogin = new();
    private bool isLoading = false;
    private string errorMessage = string.Empty;

    private async Task HandleLogin()
    {
        errorMessage = string.Empty;
        isLoading = true;

        var token = await AuthService.LoginAsync(usuarioLogin);
        isLoading = false;

        if (!string.IsNullOrEmpty(token))
        {
            Navigation.NavigateTo("/home");
        }
        else
        {
            errorMessage = "Credenciales incorrectas o error del servidor";
        }
    }
}
